<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>
</head>
<body>
    <div class="container-fluid d-flex justify-content-between">
    <h2>Bienvenido al desafio</h2>
     <a href="/realtimeproducts" class="btn btn-primary  ">realTime</a>
    </div>
    <hr>
    <h3>Productos</h3>
    
    <ul class="list-group">
  {{#each productos}}
  <li class="list-group-item">{{title}}</li>
  {{/each}}
</ul>
   
</body>
</html>